body {
  margin:0;
  padding:0;
  background-color: rgb(237, 246, 250);
  /* background-image: url('./assets/background/background.jpg'); */
  }
/* --------------------------------scrollable design--------------------------------- */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  }
  
  ::-webkit-scrollbar-track {
  border-radius: 12px;
  }
  
  ::-webkit-scrollbar-track:vertical {
  background: -webkit-linear-gradient(top, white, rgb(146, 184, 207)); 
  }
  
  ::-webkit-scrollbar-thumb {
  background: rgb(138, 84, 124);  
  border-radius: 12px;
  }
  ::-webkit-scrollbar-thumb:hover {
  background: rgb(146, 102, 146);
  }
/* -------------------------------- end scrollable design--------------------------------- */
/* ------------------------------------header images----------------------------------- */


/* ------------------------------------ end header images----------------------------------- */

/* -----------------------------------homepage text design ------------------------------------------ */

.buildingtech{
  letter-spacing: 3px;
  color: rgb(141, 45, 141);
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #aa3b98 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: inline-block;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.hometextp{
  letter-spacing: .5px;
  color: rgb(119, 55, 105);
}


/* ----------------------------------- end homepage text design------------------------------------------ */
/* ----------------------------------------navigation------------------------------------- */


 .nav-link{
   color: rgb(163, 38, 163);
 }
.nav-item{
  margin-right: 80px;
}
.nav-item:hover{
  background-color: rgb(225, 154, 225); 
}
.nav-link:hover {
  color: rgb(95, 86, 86);

}
.dropdown-item{
  color: rgb(163, 38, 163);
}
.dropdown-item:hover{
  background-color: rgb(225, 154, 225);
}

/* ---------------------------------------- end navigation------------------------------------- */
/* ---------------------------------------nav pages sizes--------------------------- */
 #home, #aboutus, #featured, #client,#services,#readmore,#partner {
  height: 100vh;
  /* align-items: center; */
  /* justify-content: center; */

}
/* ---------------------------------------end nav pages sizes--------------------------- */
/* --------------------------background animation-------------------------- */
.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(187, 78, 206, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}


@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}
/* --------------------------end background animation-------------------------- */
/* ------------------------------------about us page ----------------------------------- */
.aboutustitle{
  padding-top: 90px;
  /* max-width: 540px; */
}
.textaboutus{
  color: rgb(116, 22, 116);
}
.aboutusbtn{
  padding: 10px;
  color: rgb(251, 241, 251);
  font-size: 15px;
  border-radius: 20px;
  background-color:rgb(160, 87, 160);
}
.aboutusbtn:hover{
  background-color: rgb(141, 59, 137);
  color: white;
}
/* ----------------------------------- end about us page------------------------------------------- */

@media screen and (min-width: 574px){
  .navbar-brand{
    margin-left: 80px;
  }
  .hometext{
    padding-top: 150px;
  }

}

@media screen and (max-width: 573px){
  /* #home{
    height: 400vh;
  } */
  .hometext{
    padding-top:  75px;
    z-index: 1;
  }

}








